<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicau.count.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="cn.sicau.count.domain.Record">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reProject" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="record" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="recordSex" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, reProject, record, recordSex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAll" resultType="cn.sicau.count.domain.Record">
    SELECT * FROM record limit #{tempPage},#{pageCapacity}
  </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM record
  </select>
  <select id="selectByProSex" resultType="cn.sicau.count.domain.Record">
    SELECT * FROM  record WHERE reProject=#{reproject} and recordSex=#{recordsex}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sicau.count.domain.Record">
    insert into record (id, reProject, record, recordSex)
    values (NULL , #{reproject,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR},#{recordsex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.sicau.count.domain.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reproject != null">
        reProject,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="recordsex != null">
        recordSex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reproject != null">
        #{reproject,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="recordsex != null">
        #{recordsex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sicau.count.domain.Record">
    update record
    <set>
      <if test="reproject != null">
        reProject = #{reproject,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="recordsex != null">
        recordSex = #{recordsex,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sicau.count.domain.Record">
    update record
    set reProject = #{reproject,jdbcType=VARCHAR},
      record = #{record,jdbcType=VARCHAR},
      recordSex = #{recordsex,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>