<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicau.count.dao.SoloMapper">
  <resultMap id="BaseResultMap" type="cn.sicau.count.domain.Solo">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="campus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="classes" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userNumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userSex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="score" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="grade" javaType="java.lang.Double" jdbcType="DOUBLE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, campus, classes, project, profession, userName, userNumber, userSex, score, grade
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from solo
    where id = #{id,jdbcType=INTEGER} and project=#{project}
  </select>
    <select id="selectByUserNummberPro" resultType="cn.sicau.count.domain.Solo">
      SELECT * FROM solo WHERE userNumber=#{usernumber} and project=#{project}
    </select>
  <select id="getAllSoloScore" parameterType="map" resultType="cn.sicau.count.domain.Solo">
    SELECT * FROM solo limit #{tempPage},#{pageCapacity}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    SELECT count(*) FROM solo
  </select>
    <select id="getByParameter" resultType="cn.sicau.count.domain.Solo">
      SELECT * from solo WHERE
       <if test="campus!=null and campus!=''">
         campus=#{campus}
       </if>
      <if test="project!=null and project!=''">
        and project=#{project}
      </if>
      <if test="usersex!=null and usersex!=''">
        and userSex=#{usersex}
      </if>
       order by score
    </select>
  <select id="getByCampusPro" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE campus=#{campus} and project=#{project} order by score desc
  </select>
  <select id="getByClasses" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE classes=#{classes}
  </select>
  <select id="getAll" resultType="cn.sicau.count.domain.Solo">
    SELECT * FROM solo
  </select>
  <select id="getByPaAse" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE
    <if test="campus!=null and campus!=''">
      campus=#{campus}
    </if>
    <if test="project!=null and project!=''">
      and project=#{project}
    </if>
    <if test="usersex!=null and usersex!=''">
      and userSex=#{usersex}
    </if>
    order by score desc
  </select>
  <select id="getByCampusProAse" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE campus=#{campus} and project=#{project} order by score
  </select>
  <select id="getByStuNumber" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE userNumber=#{usernumber}
  </select>
  <select id="getByProSex" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE userSex=#{usersex} and project=#{project} and campus=#{campus} order by score desc
  </select>
  <select id="getByProSexAsc" resultType="cn.sicau.count.domain.Solo">
    SELECT * from solo WHERE userSex=#{usersex} and project=#{project} and campus=#{campus} order by score
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from solo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sicau.count.domain.Solo">
    insert into solo (id, campus, classes, 
      project, profession, userName, 
      userNumber, userSex, score, 
      grade)
    values (#{id,jdbcType=INTEGER}, #{campus,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, 
      #{project,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{usernumber,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE},
      #{grade,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.sicau.count.domain.Solo">
    insert into solo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="campus != null">
        campus,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="project != null">
        project,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="usernumber != null">
        userNumber,
      </if>
      <if test="usersex != null">
        userSex,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="campus != null">
        #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernumber != null">
        #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sicau.count.domain.Solo">
    update solo
    <set>
      <if test="campus != null">
        campus = #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernumber != null">
        userNumber = #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        userSex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sicau.count.domain.Solo">
    update solo
    set campus = #{campus,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userNumber = #{usernumber,jdbcType=VARCHAR},
      userSex = #{usersex,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      grade = #{grade,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateGradeById" parameterType="cn.sicau.count.domain.Solo">
    UPDATE solo set grade=#{grade} where id=#{id}
  </update>
</mapper>