body,html{
    margin:0;
    padding: 0;
    background: #f8f8f8;
}
/*手机*/
@media screen and (max-width: 767px){
    .logo-box{
        margin-top: 30px;
    }
}
/*平板*/
@media screen and (min-width:768px) and (max-width: 991px){
    .container_body{
        position: relative;
        width: 40%;
        left: 50%;
        margin-left: -20%;
    }
    .logo-box{
        margin-top: 80px;
    }
}
/*电脑*/
@media screen and (min-width: 992px){
    .container_body{
        position: relative;
        width: 40%;
        left: 50%;
        margin-left: -20%;
    }
    .logo-box{
        margin-top: 80px;
    }
}
.logo{
    min-width: 200px;
    max-width: 250px;
    bottom: 0;
}
.container_body{
    margin-top: 40px;
    border: 1px solid #F9C7CF;
    -moz-box-shadow: 5px 5px 9px #888888; /* Firefox */
    box-shadow: 5px 5px 9px #888888;
    -webkit-box-shadow:5px 5px 9px #888888;/*webkit*/
}
.error{
    color: #d95c5c;
    font-weight: 400;
}
input.error{
    background:rgb(255,240,240);
    border: 1px solid #dbb1b1;
}